:root{
    --gutter-x:0;
    --gutter-y:0;
}
[hide], [s\:hide] {display: none}
[show=""], [s\:show=""] {display: inherit}
[show~=inline], [s\:show~=inline] {display: inline;}
[show~=iblock], [s\:show~=iblock] {display: inline-block;}
[show~=block], [s\:show~=block] {display: block;}
[show~=flex], [s\:show~=flex] {display: flex;}

[space~=m], [space~=mt], [space~=my], [s\:space~=m], [s\:space~=mt], [s\:space~=my] {margin-top:auto}
[space~=m0], [space~=mt0], [space~=my0], [s\:space~=m0], [s\:space~=mt0], [s\:space~=my0], [reset~=space], [s\:reset~=space], [reset~=m], [s\:reset~=m], [reset~=mt], [s\:reset~=mt], [reset~=my], [s\:reset~=my] {margin-top:0}
[space~=m1], [space~=mt1], [space~=my1], [s\:space~=m1], [s\:space~=mt1], [s\:space~=my1] {margin-top:0.25rem}
[space~=m2], [space~=mt2], [space~=my2], [s\:space~=m2], [s\:space~=mt2], [s\:space~=my2] {margin-top:0.5rem}
[space~=m3], [space~=mt3], [space~=my3], [s\:space~=m3], [s\:space~=mt3], [s\:space~=my3] {margin-top:1rem}
[space~=m4], [space~=mt4], [space~=my4], [s\:space~=m4], [s\:space~=mt4], [s\:space~=my4] {margin-top:1.75rem}
[space~=m5], [space~=mt5], [space~=my5], [s\:space~=m5], [s\:space~=mt5], [s\:space~=my5] {margin-top:3rem}
[space~=m6], [space~=mt6], [space~=my6], [s\:space~=m6], [s\:space~=mt6], [s\:space~=my6] {margin-top:5rem}
[space~=m], [space~=mb], [space~=my], [s\:space~=m], [s\:space~=mb], [s\:space~=my] {margin-bottom:auto}
[space~=m0], [space~=mb0], [space~=my0], [s\:space~=m0], [s\:space~=mb0], [s\:space~=my0], [s\:reset~=space], [reset~=m], [s\:reset~=m], [reset~=mb], [s\:reset~=mb], [reset~=my], [s\:reset~=my] {margin-bottom:0}
[space~=m1], [space~=mb1], [space~=my1], [s\:space~=m1], [s\:space~=mb1], [s\:space~=my1] {margin-bottom:0.25rem}
[space~=m2], [space~=mb2], [space~=my2], [s\:space~=m2], [s\:space~=mb2], [s\:space~=my2] {margin-bottom:0.5rem}
[space~=m3], [space~=mb3], [space~=my3], [s\:space~=m3], [s\:space~=mb3], [s\:space~=my3] {margin-bottom:1rem}
[space~=m4], [space~=mb4], [space~=my4], [s\:space~=m4], [s\:space~=mb4], [s\:space~=my4] {margin-bottom:1.75rem}
[space~=m5], [space~=mb5], [space~=my5], [s\:space~=m5], [s\:space~=mb5], [s\:space~=my5] {margin-bottom:3rem}
[space~=m6], [space~=mb6], [space~=my6], [s\:space~=m6], [s\:space~=mb6], [s\:space~=my6] {margin-bottom:5rem}
[space~=m], [space~=ml], [space~=mx], [s\:space~=m], [s\:space~=ml], [s\:space~=mx] {margin-left:auto}
[space~=m0], [space~=ml0], [space~=mx0], [s\:space~=m0], [s\:space~=ml0], [s\:space~=mx0], [s\:reset~=space], [reset~=m], [s\:reset~=m], [reset~=ml], [s\:reset~=ml], [reset~=mx], [s\:reset~=mx] {margin-left:0}
[space~=m1], [space~=ml1], [space~=mx1], [s\:space~=m1], [s\:space~=ml1], [s\:space~=mx1] {margin-left:0.25rem}
[space~=m2], [space~=ml2], [space~=mx2], [s\:space~=m2], [s\:space~=ml2], [s\:space~=mx2] {margin-left:0.5rem}
[space~=m3], [space~=ml3], [space~=mx3], [s\:space~=m3], [s\:space~=ml3], [s\:space~=mx3] {margin-left:1rem}
[space~=m4], [space~=ml4], [space~=mx4], [s\:space~=m4], [s\:space~=ml4], [s\:space~=mx4] {margin-left:1.75rem}
[space~=m5], [space~=ml5], [space~=mx5], [s\:space~=m5], [s\:space~=ml5], [s\:space~=mx5] {margin-left:3rem}
[space~=m6], [space~=ml6], [space~=mx6], [s\:space~=m6], [s\:space~=ml6], [s\:space~=mx6] {margin-left:5rem}
[space~=m], [space~=mr], [space~=mx], [s\:space~=m], [s\:space~=mr], [s\:space~=mx] {margin-left:auto}
[space~=m0], [space~=mr0], [space~=mx0], [s\:space~=m0], [s\:space~=mr0], [s\:space~=mx0], [s\:reset~=space], [reset~=m], [s\:reset~=m], [reset~=mr], [s\:reset~=mr], [reset~=mx], [s\:reset~=mx] {margin-right:0}
[space~=m1], [space~=mr1], [space~=mx1], [s\:space~=m1], [s\:space~=mr1], [s\:space~=mx1] {margin-right:0.25rem}
[space~=m2], [space~=mr2], [space~=mx2], [s\:space~=m2], [s\:space~=mr2], [s\:space~=mx2] {margin-right:0.5rem}
[space~=m3], [space~=mr3], [space~=mx3], [s\:space~=m3], [s\:space~=mr3], [s\:space~=mx3] {margin-right:1rem}
[space~=m4], [space~=mr4], [space~=mx4], [s\:space~=m4], [s\:space~=mr4], [s\:space~=mx4] {margin-right:1.75rem}
[space~=m5], [space~=mr5], [space~=mx5], [s\:space~=m5], [s\:space~=mr5], [s\:space~=mx5] {margin-right:3rem}
[space~=m6], [space~=mr6], [space~=mx6], [s\:space~=m6], [s\:space~=mr6], [s\:space~=mx6] {margin-right:5rem}

[space~=p0], [space~=pt0], [space~=py0], [s\:space~=p0], [s\:space~=pt0], [s\:space~=py0], [reset~=space], [s\:reset~=space], [reset~=p], [s\:reset~=p], [reset~=pt], [s\:reset~=pt], [reset~=py], [s\:reset~=py] {padding-top:0}
[space~=p1], [space~=pt1], [space~=py1], [s\:space~=p1], [s\:space~=pt1], [s\:space~=py1] {padding-top:0.25rem}
[space~=p2], [space~=pt2], [space~=py2], [s\:space~=p2], [s\:space~=pt2], [s\:space~=py2] {padding-top:0.5rem}
[space~=p3], [space~=pt3], [space~=py3], [s\:space~=p3], [s\:space~=pt3], [s\:space~=py3] {padding-top:1rem}
[space~=p4], [space~=pt4], [space~=py4], [s\:space~=p4], [s\:space~=pt4], [s\:space~=py4] {padding-top:1.75rem}
[space~=p5], [space~=pt5], [space~=py5], [s\:space~=p5], [s\:space~=pt5], [s\:space~=py5] {padding-top:3rem}
[space~=p6], [space~=pt6], [space~=py6], [s\:space~=p6], [s\:space~=pt6], [s\:space~=py6] {padding-top:5rem}
[space~=p0], [space~=pb0], [space~=py0], [s\:space~=p0], [s\:space~=pb0], [s\:space~=py0], [s\:reset~=space], [reset~=p], [s\:reset~=p], [reset~=pb], [s\:reset~=pb], [reset~=py], [s\:reset~=py] {padding-bottom:0}
[space~=p1], [space~=pb1], [space~=py1], [s\:space~=p1], [s\:space~=pb1], [s\:space~=py1] {padding-bottom:0.25rem}
[space~=p2], [space~=pb2], [space~=py2], [s\:space~=p2], [s\:space~=pb2], [s\:space~=py2] {padding-bottom:0.5rem}
[space~=p3], [space~=pb3], [space~=py3], [s\:space~=p3], [s\:space~=pb3], [s\:space~=py3] {padding-bottom:1rem}
[space~=p4], [space~=pb4], [space~=py4], [s\:space~=p4], [s\:space~=pb4], [s\:space~=py4] {padding-bottom:1.75rem}
[space~=p5], [space~=pb5], [space~=py5], [s\:space~=p5], [s\:space~=pb5], [s\:space~=py5] {padding-bottom:3rem}
[space~=p6], [space~=pb6], [space~=py6], [s\:space~=p6], [s\:space~=pb6], [s\:space~=py6] {padding-bottom:5rem}
[space~=p0], [space~=pl0], [space~=px0], [s\:space~=p0], [s\:space~=pl0], [s\:space~=px0], [s\:reset~=space], [reset~=p], [s\:reset~=p], [reset~=pl], [s\:reset~=pl], [reset~=px], [s\:reset~=px] {padding-left:0}
[space~=p1], [space~=pl1], [space~=px1], [s\:space~=p1], [s\:space~=pl1], [s\:space~=px1] {padding-left:0.25rem}
[space~=p2], [space~=pl2], [space~=px2], [s\:space~=p2], [s\:space~=pl2], [s\:space~=px2] {padding-left:0.5rem}
[space~=p3], [space~=pl3], [space~=px3], [s\:space~=p3], [s\:space~=pl3], [s\:space~=px3] {padding-left:1rem}
[space~=p4], [space~=pl4], [space~=px4], [s\:space~=p4], [s\:space~=pl4], [s\:space~=px4] {padding-left:1.75rem}
[space~=p5], [space~=pl5], [space~=px5], [s\:space~=p5], [s\:space~=pl5], [s\:space~=px5] {padding-left:3rem}
[space~=p6], [space~=pl6], [space~=px6], [s\:space~=p6], [s\:space~=pl6], [s\:space~=px6] {padding-left:5rem}
[space~=p0], [space~=pr0], [space~=px0], [s\:space~=p0], [s\:space~=pr0], [s\:space~=px0], [s\:reset~=space], [reset~=p], [s\:reset~=p], [reset~=pr], [s\:reset~=pr], [reset~=px], [s\:reset~=px] {padding-right:0}
[space~=p1], [space~=pr1], [space~=px1], [s\:space~=p1], [s\:space~=pr1], [s\:space~=px1] {padding-right:0.25rem}
[space~=p2], [space~=pr2], [space~=px2], [s\:space~=p2], [s\:space~=pr2], [s\:space~=px2] {padding-right:0.5rem}
[space~=p3], [space~=pr3], [space~=px3], [s\:space~=p3], [s\:space~=pr3], [s\:space~=px3] {padding-right:1rem}
[space~=p4], [space~=pr4], [space~=px4], [s\:space~=p4], [s\:space~=pr4], [s\:space~=px4] {padding-right:1.75rem}
[space~=p5], [space~=pr5], [space~=px5], [s\:space~=p5], [s\:space~=pr5], [s\:space~=px5] {padding-right:3rem}
[space~=p6], [space~=pr6], [space~=px6], [s\:space~=p6], [s\:space~=pr6], [s\:space~=px6] {padding-right:5rem}

[flex], [s\:flex]{display: flex}
[flex~=h], [s\:flex~=h] {flex-direction: row}
[flex~=v], [s\:flex~=v] {flex-direction: column}
[flex~=r], [s\:flex~=r] {flex-direction: row-reverse}
[flex~=v][flex~=r], [s\:flex~=v][s\:flex~=r] {flex-direction: column-reverse}

[flex~=h][flex~=h-left], [s\:flex~=h][s\:flex~=h-left],
[flex~=h][flex~=r][flex~=h-right], [s\:flex~=h][s\:flex~=r][s\:flex~=h-right],
[flex~=v][flex~=v-top], [s\:flex~=v][s\:flex~=v-top],
[flex~=v][flex~=r][flex~=v-bottom], [s\:flex~=v][s\:flex~=r][s\:flex~=v-bottom]
{justify-content: flex-start}

[flex~=h][flex~=h-right], [s\:flex~=h][s\:flex~=h-right],
[flex~=h][flex~=r][flex~=h-left], [s\:flex~=h][s\:flex~=r][s\:flex~=h-left],
[flex~=v][flex~=v-bottom], [s\:flex~=v][s\:flex~=v-bottom],
[flex~=v][flex~=r][flex~=v-top], [s\:flex~=v][s\:flex~=r][s\:flex~=v-top]
{justify-content: flex-end}

[flex~=h][flex~=h-center], [s\:flex~=h][s\:flex~=h-center],
[flex~=v][flex~=v-center], [s\:flex~=v][s\:flex~=v-center]
{justify-content: center}

[flex~=h][flex~=h-spaced], [s\:flex~=h][s\:flex~=h-spaced],
[flex~=v][flex~=v-spaced], [s\:flex~=v][s\:flex~=v-spaced]
{justify-content: space-between}

[flex~=h][flex~=v-top], [s\:flex~=h][s\:flex~=v-top],
[flex~=h][flex~=r][flex~=v-bottom], [s\:flex~=h][s\:flex~=r][s\:flex~=v-bottom],
[flex~=v][flex~=h-left], [s\:flex~=v][s\:flex~=h-left],
[flex~=v][flex~=r][flex~=h-right], [s\:flex~=v][s\:flex~=r][s\:flex~=h-right]
{align-items: flex-start}

[flex~=h][flex~=v-bottom], [s\:flex~=h][s\:flex~=v-bottom],
[flex~=h][flex~=r][flex~=v-top], [s\:flex~=h][s\:flex~=r][s\:flex~=v-top],
[flex~=v][flex~=h-right], [s\:flex~=v][s\:flex~=h-right],
[flex~=v][flex~=r][flex~=h-left], [s\:flex~=v][s\:flex~=r][s\:flex~=h-left]
{align-items: flex-end}

[flex~=h][flex~=v-center], [s\:flex~=h][s\:flex~=v-center],
[flex~=v][flex~=h-center], [s\:flex~=v][s\:flex~=h-center]
{align-items: center}

[flex~=h][flex~=v-spaced], [s\:flex~=h][s\:flex~=v-spaced],
[flex~=v][flex~=h-spaced], [s\:flex~=v][s\:flex~=h-spaced]
{align-items: stretch}


[reset=""], [s\:reset=""], [reset~=row], [s\:reset~=row]{
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
}
[reset=""], [s\:reset=""], [reset~=row] > [col], [s\:reset~=row] > [col]{
    width: 100% !important;
    flex-direction: inherit;
    justify-content: inherit;
}
[reset=""], [s\:reset=""], [reset~=col], [s\:reset~=col]{
    width: 100% !important;
    margin-left: inherit;
    order: inherit
}

[reset=""], [s\:reset=""], [reset~=row], [s\:reset~=row]{
    --gutter-x: 0;
    --gutter-y: 0;
}
[reset=""], [s\:reset=""], [reset~=row], [s\:reset~=row], [reset~=hide], [reset~=show], [s\:reset~=hide], [s\:reset~=show]{display: inherit}
[reset=""], [s\:reset=""], [reset~=row], [s\:reset~=row], [reset~=], [reset~=row] > [col], [s\:reset~=row] > [col]{flex-direction: inherit}
[flex~=h][reset~=r], [flex~=h][reset~=r]{flex-direction: row}
[flex~=v][reset~=r], [flex~=v][reset~=r]{flex-direction: column}
[reset=""], [s\:reset=""], [reset~=row], [s\:reset~=row], [reset~=], [reset~=row] > [col], [s\:reset~=row] > [col], [reset~=h]{justify-content: inherit}

[reset~=w], [s\:reset~=w]{width: 100% !important}
[reset~=o], [s\:reset~=o]{margin-left: inherit}
[reset~=p], [s\:reset~=p]{order: inherit}
[reset~=g], [s\:reset~=g], [reset~=gx], [s\:reset~=gx]{--gutter-x: 0}
[reset~=g], [s\:reset~=g], [reset~=gy], [s\:reset~=gy]{--gutter-y: 0}
[reset~=c] > [col], [s\:reset~=c] > [col]{width: 100% !important}
[row][reset~=r], [row][s\:reset~=r] {flex-direction: row}
[col][reset~=r], [col][s\:reset~=r] {flex-direction: column}

@media (min-width: 768px){
    [m\:hide] {display: none}
    [m\:show=""] {display: inherit}
    [m\:show~=inline] {display: inline;}
    [m\:show~=iblock] {display: inline-block;}
    [m\:show~=block] {display: block;}
    [m\:show~=flex] {display: flex;}

    [m\:space~=m], [m\:space~=mt], [m\:space~=my] {margin-top:auto}
    [m\:space~=m0], [m\:space~=mt0], [m\:space~=my0], [m\:reset~=space], [s\:reset~=space], [m\:reset~=m], [m\:reset~=mt], [m\:reset~=my] {margin-top:0}
    [m\:space~=m1], [m\:space~=mt1], [m\:space~=my1] {margin-top:0.25rem}
    [m\:space~=m2], [m\:space~=mt2], [m\:space~=my2] {margin-top:0.5rem}
    [m\:space~=m3], [m\:space~=mt3], [m\:space~=my3] {margin-top:1rem}
    [m\:space~=m4], [m\:space~=mt4], [m\:space~=my4] {margin-top:1.75rem}
    [m\:space~=m5], [m\:space~=mt5], [m\:space~=my5] {margin-top:3rem}
    [m\:space~=m6], [m\:space~=mt6], [m\:space~=my6] {margin-top:5rem}
    [m\:space~=m], [m\:space~=mb], [m\:space~=my] {margin-bottom:auto}
    [m\:space~=m0], [m\:space~=mb0], [m\:space~=my0], [m\:reset~=space], [m\:reset~=m], [m\:reset~=mb], [m\:reset~=my] {margin-bottom:0}
    [m\:space~=m1], [m\:space~=mb1], [m\:space~=my1] {margin-bottom:0.25rem}
    [m\:space~=m2], [m\:space~=mb2], [m\:space~=my2] {margin-bottom:0.5rem}
    [m\:space~=m3], [m\:space~=mb3], [m\:space~=my3] {margin-bottom:1rem}
    [m\:space~=m4], [m\:space~=mb4], [m\:space~=my4] {margin-bottom:1.75rem}
    [m\:space~=m5], [m\:space~=mb5], [m\:space~=my5] {margin-bottom:3rem}
    [m\:space~=m6], [m\:space~=mb6], [m\:space~=my6] {margin-bottom:5rem}
    [m\:space~=m], [m\:space~=ml], [m\:space~=mx] {margin-left:auto}
    [m\:space~=m0], [m\:space~=ml0], [m\:space~=mx0], [m\:reset~=space], [m\:reset~=m], [m\:reset~=ml], [m\:reset~=mx] {margin-left:0}
    [m\:space~=m1], [m\:space~=ml1], [m\:space~=mx1] {margin-left:0.25rem}
    [m\:space~=m2], [m\:space~=ml2], [m\:space~=mx2] {margin-left:0.5rem}
    [m\:space~=m3], [m\:space~=ml3], [m\:space~=mx3] {margin-left:1rem}
    [m\:space~=m4], [m\:space~=ml4], [m\:space~=mx4] {margin-left:1.75rem}
    [m\:space~=m5], [m\:space~=ml5], [m\:space~=mx5] {margin-left:3rem}
    [m\:space~=m6], [m\:space~=ml6], [m\:space~=mx6] {margin-left:5rem}
    [m\:space~=m], [m\:space~=mr], [m\:space~=mx] {margin-right:auto}
    [m\:space~=m0], [m\:space~=mr0], [m\:space~=mx0], [m\:reset~=space], [m\:reset~=m], [m\:reset~=mr], [m\:reset~=mx] {margin-right:0}
    [m\:space~=m1], [m\:space~=mr1], [m\:space~=mx1] {margin-right:0.25rem}
    [m\:space~=m2], [m\:space~=mr2], [m\:space~=mx2] {margin-right:0.5rem}
    [m\:space~=m3], [m\:space~=mr3], [m\:space~=mx3] {margin-right:1rem}
    [m\:space~=m4], [m\:space~=mr4], [m\:space~=mx4] {margin-right:1.75rem}
    [m\:space~=m5], [m\:space~=mr5], [m\:space~=mx5] {margin-right:3rem}
    [m\:space~=m6], [m\:space~=mr6], [m\:space~=mx6] {margin-right:5rem}

    [m\:space~=p0], [m\:space~=pt0], [m\:space~=py0], [m\:reset~=space], [m\:reset~=p], [m\:reset~=pt], [m\:reset~=py] {padding-top:0}
    [m\:space~=p1], [m\:space~=pt1], [m\:space~=py1] {padding-top:0.25rem}
    [m\:space~=p2], [m\:space~=pt2], [m\:space~=py2] {padding-top:0.5rem}
    [m\:space~=p3], [m\:space~=pt3], [m\:space~=py3] {padding-top:1rem}
    [m\:space~=p4], [m\:space~=pt4], [m\:space~=py4] {padding-top:1.75rem}
    [m\:space~=p5], [m\:space~=pt5], [m\:space~=py5] {padding-top:3rem}
    [m\:space~=p6], [m\:space~=pt6], [m\:space~=py6] {padding-top:5rem}
    [m\:space~=p0], [m\:space~=pb0], [m\:space~=py0], [m\:reset~=space], [m\:reset~=p], [m\:reset~=pb], [m\:reset~=py] {padding-bottom:0}
    [m\:space~=p1], [m\:space~=pb1], [m\:space~=py1] {padding-bottom:0.25rem}
    [m\:space~=p2], [m\:space~=pb2], [m\:space~=py2] {padding-bottom:0.5rem}
    [m\:space~=p3], [m\:space~=pb3], [m\:space~=py3] {padding-bottom:1rem}
    [m\:space~=p4], [m\:space~=pb4], [m\:space~=py4] {padding-bottom:1.75rem}
    [m\:space~=p5], [m\:space~=pb5], [m\:space~=py5] {padding-bottom:3rem}
    [m\:space~=p6], [m\:space~=pb6], [m\:space~=py6] {padding-bottom:5rem}
    [m\:space~=p0], [m\:space~=pl0], [m\:space~=px0], [m\:reset~=space], [m\:reset~=p], [m\:reset~=pl], [m\:reset~=px] {padding-left:0}
    [m\:space~=p1], [m\:space~=pl1], [m\:space~=px1] {padding-left:0.25rem}
    [m\:space~=p2], [m\:space~=pl2], [m\:space~=px2] {padding-left:0.5rem}
    [m\:space~=p3], [m\:space~=pl3], [m\:space~=px3] {padding-left:1rem}
    [m\:space~=p4], [m\:space~=pl4], [m\:space~=px4] {padding-left:1.75rem}
    [m\:space~=p5], [m\:space~=pl5], [m\:space~=px5] {padding-left:3rem}
    [m\:space~=p6], [m\:space~=pl6], [m\:space~=px6] {padding-left:5rem}
    [m\:space~=p0], [m\:space~=pr0], [m\:space~=px0], [m\:reset~=space], [m\:reset~=p], [m\:reset~=pr], [m\:reset~=px] {padding-right:0}
    [m\:space~=p1], [m\:space~=pr1], [m\:space~=px1] {padding-right:0.25rem}
    [m\:space~=p2], [m\:space~=pr2], [m\:space~=px2] {padding-right:0.5rem}
    [m\:space~=p3], [m\:space~=pr3], [m\:space~=px3] {padding-right:1rem}
    [m\:space~=p4], [m\:space~=pr4], [m\:space~=px4] {padding-right:1.75rem}
    [m\:space~=p5], [m\:space~=pr5], [m\:space~=px5] {padding-right:3rem}
    [m\:space~=p6], [m\:space~=pr6], [m\:space~=px6] {padding-right:5rem}

    [m\:flex]{display: flex}
    [m\:flex~=h] {flex-direction: row}
    [m\:flex~=v] {flex-direction: column}
    [m\:flex~=r] {flex-direction: row-reverse}
    [m\:flex~=v][m\:flex~=r] {flex-direction: column-reverse}

    [m\:flex~=h][m\:flex~=h-left],
    [m\:flex~=h][m\:flex~=r][m\:flex~=h-right],
    [m\:flex~=v][m\:flex~=v-top],
    [m\:flex~=v][m\:flex~=r][m\:flex~=v-bottom]
    {justify-content: flex-start}

    [m\:flex~=h][m\:flex~=h-right],
    [m\:flex~=h][m\:flex~=r][m\:flex~=h-left],
    [m\:flex~=v][m\:flex~=v-bottom],
    [m\:flex~=v][m\:flex~=r][m\:flex~=v-top]
    {justify-content: flex-end}

    [m\:flex~=h][m\:flex~=h-center],
    [m\:flex~=v][m\:flex~=v-center]
    {justify-content: center}

    [m\:flex~=h][m\:flex~=h-spaced],
    [m\:flex~=v][m\:flex~=v-spaced]
    {justify-content: space-between}

    [m\:flex~=h][m\:flex~=v-top],
    [m\:flex~=h][m\:flex~=r][m\:flex~=v-bottom],
    [m\:flex~=v][m\:flex~=h-left],
    [m\:flex~=v][m\:flex~=r][m\:flex~=h-right]
    {align-items: flex-start}

    [m\:flex~=h][m\:flex~=v-bottom],
    [m\:flex~=h][m\:flex~=r][m\:flex~=v-top],
    [m\:flex~=v][m\:flex~=h-right],
    [m\:flex~=v][m\:flex~=r][m\:flex~=h-left]
    {align-items: flex-end}

    [m\:flex~=h][m\:flex~=v-center],
    [m\:flex~=v][m\:flex~=h-center]
    {align-items: center}

    [m\:flex~=h][m\:flex~=v-spaced],
    [m\:flex~=v][m\:flex~=h-spaced]
    {align-items: stretch}

    [m\:reset=""], [m\:reset~=row]{
        --gutter-x: 0;
        --gutter-y: 0;
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
    }
    [m\:reset=""], [m\:reset~=row] > [col]{
        width: 100% !important;
        flex-direction: inherit;
        justify-content: inherit;
    }
    [m\:reset=""], [m\:reset~=col]{
        width: 100% !important;
        margin-left: inherit;
        order: inherit
    }
    
    [m\:reset~=w]{width: 100% !important}
    [m\:reset~=o]{margin-left: inherit}
    [m\:reset~=p]{order: inherit}
    [m\:reset~=g], [reset~=gx], [s\:reset~=gx]{--gutter-x: 0}
    [m\:reset~=g], [reset~=gy], [s\:reset~=gy]{--gutter-y: 0}
    [m\:reset~=c] > [col]{width: 100% !important}
    [row][m\:reset~=r] {flex-direction: row}
    [col][m\:reset~=r] {flex-direction: column}
}
@media (min-width: 992px){
    [l\:hide] {display: none}
    [l\:show=""] {display: inherit}
    [l\:show~=inline] {display: inline;}
    [l\:show~=iblock] {display: inline-block;}
    [l\:show~=block] {display: block;}
    [l\:show~=flex] {display: flex;}

    [l\:space~=m], [l\:space~=mt], [l\:space~=my] {margin-top:auto}
    [l\:space~=m0], [l\:space~=mt0], [l\:space~=my0], [l\:reset~=space], [l\:reset~=m], [l\:reset~=mt], [l\:reset~=my] {margin-top:0}
    [l\:space~=m1], [l\:space~=mt1], [l\:space~=my1] {margin-top:0.25rem}
    [l\:space~=m2], [l\:space~=mt2], [l\:space~=my2] {margin-top:0.5rem}
    [l\:space~=m3], [l\:space~=mt3], [l\:space~=my3] {margin-top:1rem}
    [l\:space~=m4], [l\:space~=mt4], [l\:space~=my4] {margin-top:1.75rem}
    [l\:space~=m5], [l\:space~=mt5], [l\:space~=my5] {margin-top:3rem}
    [l\:space~=m6], [l\:space~=mt6], [l\:space~=my6] {margin-top:5rem}
    [l\:space~=m], [l\:space~=mb], [l\:space~=my] {margin-bottom:auto}
    [l\:space~=m0], [l\:space~=mb0], [l\:space~=my0], [l\:reset~=space], [l\:reset~=m], [l\:reset~=mb], [l\:reset~=my] {margin-bottom:0}
    [l\:space~=m1], [l\:space~=mb1], [l\:space~=my1] {margin-bottom:0.25rem}
    [l\:space~=m2], [l\:space~=mb2], [l\:space~=my2] {margin-bottom:0.5rem}
    [l\:space~=m3], [l\:space~=mb3], [l\:space~=my3] {margin-bottom:1rem}
    [l\:space~=m4], [l\:space~=mb4], [l\:space~=my4] {margin-bottom:1.75rem}
    [l\:space~=m5], [l\:space~=mb5], [l\:space~=my5] {margin-bottom:3rem}
    [l\:space~=m6], [l\:space~=mb6], [l\:space~=my6] {margin-bottom:5rem}
    [l\:space~=m], [l\:space~=ml], [l\:space~=mx] {margin-left:auto}
    [l\:space~=m0], [l\:space~=ml0], [l\:space~=mx0], [l\:reset~=space], [l\:reset~=m], [l\:reset~=ml], [l\:reset~=mx] {margin-left:0}
    [l\:space~=m1], [l\:space~=ml1], [l\:space~=mx1] {margin-left:0.25rem}
    [l\:space~=m2], [l\:space~=ml2], [l\:space~=mx2] {margin-left:0.5rem}
    [l\:space~=m3], [l\:space~=ml3], [l\:space~=mx3] {margin-left:1rem}
    [l\:space~=m4], [l\:space~=ml4], [l\:space~=mx4] {margin-left:1.75rem}
    [l\:space~=m5], [l\:space~=ml5], [l\:space~=mx5] {margin-left:3rem}
    [l\:space~=m6], [l\:space~=ml6], [l\:space~=mx6] {margin-left:5rem}
    [l\:space~=m], [l\:space~=mr], [l\:space~=mx] {margin-right:auto}
    [l\:space~=m0], [l\:space~=mr0], [l\:space~=mx0], [l\:reset~=space], [l\:reset~=m], [l\:reset~=mr], [l\:reset~=mx] {margin-right:0}
    [l\:space~=m1], [l\:space~=mr1], [l\:space~=mx1] {margin-right:0.25rem}
    [l\:space~=m2], [l\:space~=mr2], [l\:space~=mx2] {margin-right:0.5rem}
    [l\:space~=m3], [l\:space~=mr3], [l\:space~=mx3] {margin-right:1rem}
    [l\:space~=m4], [l\:space~=mr4], [l\:space~=mx4] {margin-right:1.75rem}
    [l\:space~=m5], [l\:space~=mr5], [l\:space~=mx5] {margin-right:3rem}
    [l\:space~=m6], [l\:space~=mr6], [l\:space~=mx6] {margin-right:5rem}

    [l\:space~=p0], [l\:space~=pt0], [l\:space~=py0], [l\:reset~=space], [l\:reset~=p], [l\:reset~=pt], [l\:reset~=py] {padding-top:0}
    [l\:space~=p1], [l\:space~=pt1], [l\:space~=py1] {padding-top:0.25rem}
    [l\:space~=p2], [l\:space~=pt2], [l\:space~=py2] {padding-top:0.5rem}
    [l\:space~=p3], [l\:space~=pt3], [l\:space~=py3] {padding-top:1rem}
    [l\:space~=p4], [l\:space~=pt4], [l\:space~=py4] {padding-top:1.75rem}
    [l\:space~=p5], [l\:space~=pt5], [l\:space~=py5] {padding-top:3rem}
    [l\:space~=p6], [l\:space~=pt6], [l\:space~=py6] {padding-top:5rem}
    [l\:space~=p0], [l\:space~=pb0], [l\:space~=py0], [l\:reset~=space], [l\:reset~=p], [l\:reset~=pb], [l\:reset~=py] {padding-bottom:0}
    [l\:space~=p1], [l\:space~=pb1], [l\:space~=py1] {padding-bottom:0.25rem}
    [l\:space~=p2], [l\:space~=pb2], [l\:space~=py2] {padding-bottom:0.5rem}
    [l\:space~=p3], [l\:space~=pb3], [l\:space~=py3] {padding-bottom:1rem}
    [l\:space~=p4], [l\:space~=pb4], [l\:space~=py4] {padding-bottom:1.75rem}
    [l\:space~=p5], [l\:space~=pb5], [l\:space~=py5] {padding-bottom:3rem}
    [l\:space~=p6], [l\:space~=pb6], [l\:space~=py6] {padding-bottom:5rem}
    [l\:space~=p0], [l\:space~=pl0], [l\:space~=px0], [l\:reset~=space], [l\:reset~=p], [l\:reset~=pl], [l\:reset~=px] {padding-left:0}
    [l\:space~=p1], [l\:space~=pl1], [l\:space~=px1] {padding-left:0.25rem}
    [l\:space~=p2], [l\:space~=pl2], [l\:space~=px2] {padding-left:0.5rem}
    [l\:space~=p3], [l\:space~=pl3], [l\:space~=px3] {padding-left:1rem}
    [l\:space~=p4], [l\:space~=pl4], [l\:space~=px4] {padding-left:1.75rem}
    [l\:space~=p5], [l\:space~=pl5], [l\:space~=px5] {padding-left:3rem}
    [l\:space~=p6], [l\:space~=pl6], [l\:space~=px6] {padding-left:5rem}
    [l\:space~=p0], [l\:space~=pr0], [l\:space~=px0], [l\:reset~=space], [l\:reset~=p], [l\:reset~=pr], [l\:reset~=px] {padding-right:0}
    [l\:space~=p1], [l\:space~=pr1], [l\:space~=px1] {padding-right:0.25rem}
    [l\:space~=p2], [l\:space~=pr2], [l\:space~=px2] {padding-right:0.5rem}
    [l\:space~=p3], [l\:space~=pr3], [l\:space~=px3] {padding-right:1rem}
    [l\:space~=p4], [l\:space~=pr4], [l\:space~=px4] {padding-right:1.75rem}
    [l\:space~=p5], [l\:space~=pr5], [l\:space~=px5] {padding-right:3rem}
    [l\:space~=p6], [l\:space~=pr6], [l\:space~=px6] {padding-right:5rem}

    [l\:flex]{display: flex}
    [l\:flex~=h] {flex-direction: row}
    [l\:flex~=v] {flex-direction: column}
    [l\:flex~=r] {flex-direction: row-reverse}
    [l\:flex~=v][l\:flex~=r] {flex-direction: column-reverse}

    [l\:flex~=h][l\:flex~=h-left],
    [l\:flex~=h][l\:flex~=r][l\:flex~=h-right],
    [l\:flex~=v][l\:flex~=v-top],
    [l\:flex~=v][l\:flex~=r][l\:flex~=v-bottom]
    {justify-content: flex-start}

    [l\:flex~=h][l\:flex~=h-right],
    [l\:flex~=h][l\:flex~=r][l\:flex~=h-left],
    [l\:flex~=v][l\:flex~=v-bottom],
    [l\:flex~=v][l\:flex~=r][l\:flex~=v-top]
    {justify-content: flex-end}

    [l\:flex~=h][l\:flex~=h-center],
    [l\:flex~=v][l\:flex~=v-center]
    {justify-content: center}

    [l\:flex~=h][l\:flex~=h-spaced],
    [l\:flex~=v][l\:flex~=v-spaced]
    {justify-content: space-between}

    [l\:flex~=h][l\:flex~=v-top],
    [l\:flex~=h][l\:flex~=r][l\:flex~=v-bottom],
    [l\:flex~=v][l\:flex~=h-left],
    [l\:flex~=v][l\:flex~=r][l\:flex~=h-right]
    {align-items: flex-start}

    [l\:flex~=h][l\:flex~=v-bottom],
    [l\:flex~=h][l\:flex~=r][l\:flex~=v-top],
    [l\:flex~=v][l\:flex~=h-right],
    [l\:flex~=v][l\:flex~=r][l\:flex~=h-left]
    {align-items: flex-end}

    [l\:flex~=h][l\:flex~=v-center],
    [l\:flex~=v][l\:flex~=h-center]
    {align-items: center}

    [l\:flex~=h][l\:flex~=v-spaced],
    [l\:flex~=v][l\:flex~=h-spaced]
    {align-items: stretch}

    [l\:reset=""], [l\:reset~=row]{
        --gutter-x: 0;
        --gutter-y: 0;
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
    }
    [l\:reset=""], [l\:reset~=row] > [col]{
        width: 100% !important;
        flex-direction: inherit;
        justify-content: inherit;
    }
    [l\:reset=""], [l\:reset~=col]{
        width: 100% !important;
        margin-left: inherit;
        order: inherit
    }
    
    [l\:reset~=w]{width: 100% !important}
    [l\:reset~=o]{margin-left: inherit}
    [l\:reset~=p]{order: inherit}
    [l\:reset~=g], [reset~=gx], [s\:reset~=gx]{--gutter-x: 0}
    [l\:reset~=g], [reset~=gy], [s\:reset~=gy]{--gutter-y: 0}
    [l\:reset~=c] > [col]{width: 100% !important}
    [row][l\:reset~=r] {flex-direction: row}
    [col][l\:reset~=r] {flex-direction: column}
}
@media (min-width: 1400px){
    [xl\:hide] {display: none}
    [xl\:show=""] {display: inherit}
    [xl\:show~=inline] {display: inline;}
    [xl\:show~=iblock] {display: inline-block;}
    [xl\:show~=block] {display: block;}
    [xl\:show~=flex] {display: flex;}

    [xl\:space~=m], [xl\:space~=mt], [xl\:space~=my] {margin-top:auto}
    [xl\:space~=m0], [xl\:space~=mt0], [xl\:space~=my0], [xl\:reset~=space], [xl\:reset~=m], [xl\:reset~=mt], [xl\:reset~=my] {margin-top:0}
    [xl\:space~=m1], [xl\:space~=mt1], [xl\:space~=my1] {margin-top:0.25rem}
    [xl\:space~=m2], [xl\:space~=mt2], [xl\:space~=my2] {margin-top:0.5rem}
    [xl\:space~=m3], [xl\:space~=mt3], [xl\:space~=my3] {margin-top:1rem}
    [xl\:space~=m4], [xl\:space~=mt4], [xl\:space~=my4] {margin-top:1.75rem}
    [xl\:space~=m5], [xl\:space~=mt5], [xl\:space~=my5] {margin-top:3rem}
    [xl\:space~=m6], [xl\:space~=mt6], [xl\:space~=my6] {margin-top:5rem}
    [xl\:space~=m], [xl\:space~=mb], [xl\:space~=my] {margin-bottom:auto}
    [xl\:space~=m0], [xl\:space~=mb0], [xl\:space~=my0], [xl\:reset~=space], [xl\:reset~=m], [xl\:reset~=mb], [xl\:reset~=my] {margin-bottom:0}
    [xl\:space~=m1], [xl\:space~=mb1], [xl\:space~=my1] {margin-bottom:0.25rem}
    [xl\:space~=m2], [xl\:space~=mb2], [xl\:space~=my2] {margin-bottom:0.5rem}
    [xl\:space~=m3], [xl\:space~=mb3], [xl\:space~=my3] {margin-bottom:1rem}
    [xl\:space~=m4], [xl\:space~=mb4], [xl\:space~=my4] {margin-bottom:1.75rem}
    [xl\:space~=m5], [xl\:space~=mb5], [xl\:space~=my5] {margin-bottom:3rem}
    [xl\:space~=m6], [xl\:space~=mb6], [xl\:space~=my6] {margin-bottom:5rem}
    [xl\:space~=m], [xl\:space~=ml], [xl\:space~=mx] {margin-left:auto}
    [xl\:space~=m0], [xl\:space~=ml0], [xl\:space~=mx0], [xl\:reset~=space], [xl\:reset~=m], [xl\:reset~=ml], [xl\:reset~=mx] {margin-left:0}
    [xl\:space~=m1], [xl\:space~=ml1], [xl\:space~=mx1] {margin-left:0.25rem}
    [xl\:space~=m2], [xl\:space~=ml2], [xl\:space~=mx2] {margin-left:0.5rem}
    [xl\:space~=m3], [xl\:space~=ml3], [xl\:space~=mx3] {margin-left:1rem}
    [xl\:space~=m4], [xl\:space~=ml4], [xl\:space~=mx4] {margin-left:1.75rem}
    [xl\:space~=m5], [xl\:space~=ml5], [xl\:space~=mx5] {margin-left:3rem}
    [xl\:space~=m6], [xl\:space~=ml6], [xl\:space~=mx6] {margin-left:5rem}
    [xl\:space~=m], [xl\:space~=mr], [xl\:space~=mx] {margin-right:auto}
    [xl\:space~=m0], [xl\:space~=mr0], [xl\:space~=mx0], [xl\:reset~=space], [xl\:reset~=m], [xl\:reset~=mr], [xl\:reset~=mx] {margin-right:0}
    [xl\:space~=m1], [xl\:space~=mr1], [xl\:space~=mx1] {margin-right:0.25rem}
    [xl\:space~=m2], [xl\:space~=mr2], [xl\:space~=mx2] {margin-right:0.5rem}
    [xl\:space~=m3], [xl\:space~=mr3], [xl\:space~=mx3] {margin-right:1rem}
    [xl\:space~=m4], [xl\:space~=mr4], [xl\:space~=mx4] {margin-right:1.75rem}
    [xl\:space~=m5], [xl\:space~=mr5], [xl\:space~=mx5] {margin-right:3rem}
    [xl\:space~=m6], [xl\:space~=mr6], [xl\:space~=mx6] {margin-right:5rem}

    [xl\:space~=p0], [xl\:space~=pt0], [xl\:space~=py0], [xl\:reset~=space], [xl\:reset~=p], [xl\:reset~=pt], [xl\:reset~=py] {padding-top:0}
    [xl\:space~=p1], [xl\:space~=pt1], [xl\:space~=py1] {padding-top:0.25rem}
    [xl\:space~=p2], [xl\:space~=pt2], [xl\:space~=py2] {padding-top:0.5rem}
    [xl\:space~=p3], [xl\:space~=pt3], [xl\:space~=py3] {padding-top:1rem}
    [xl\:space~=p4], [xl\:space~=pt4], [xl\:space~=py4] {padding-top:1.75rem}
    [xl\:space~=p5], [xl\:space~=pt5], [xl\:space~=py5] {padding-top:3rem}
    [xl\:space~=p6], [xl\:space~=pt6], [xl\:space~=py6] {padding-top:5rem}
    [xl\:space~=p0], [xl\:space~=pb0], [xl\:space~=py0], [xl\:reset~=space], [xl\:reset~=p], [xl\:reset~=pb], [xl\:reset~=py]{padding-bottom:0}
    [xl\:space~=p1], [xl\:space~=pb1], [xl\:space~=py1] {padding-bottom:0.25rem}
    [xl\:space~=p2], [xl\:space~=pb2], [xl\:space~=py2] {padding-bottom:0.5rem}
    [xl\:space~=p3], [xl\:space~=pb3], [xl\:space~=py3] {padding-bottom:1rem}
    [xl\:space~=p4], [xl\:space~=pb4], [xl\:space~=py4] {padding-bottom:1.75rem}
    [xl\:space~=p5], [xl\:space~=pb5], [xl\:space~=py5] {padding-bottom:3rem}
    [xl\:space~=p6], [xl\:space~=pb6], [xl\:space~=py6] {padding-bottom:5rem}
    [xl\:space~=p0], [xl\:space~=pl0], [xl\:space~=px0], [xl\:reset~=space], [xl\:reset~=p], [xl\:reset~=pl], [xl\:reset~=px]{padding-left:0}
    [xl\:space~=p1], [xl\:space~=pl1], [xl\:space~=px1] {padding-left:0.25rem}
    [xl\:space~=p2], [xl\:space~=pl2], [xl\:space~=px2] {padding-left:0.5rem}
    [xl\:space~=p3], [xl\:space~=pl3], [xl\:space~=px3] {padding-left:1rem}
    [xl\:space~=p4], [xl\:space~=pl4], [xl\:space~=px4] {padding-left:1.75rem}
    [xl\:space~=p5], [xl\:space~=pl5], [xl\:space~=px5] {padding-left:3rem}
    [xl\:space~=p6], [xl\:space~=pl6], [xl\:space~=px6] {padding-left:5rem}
    [xl\:space~=p0], [xl\:space~=pr0], [xl\:space~=px0], [xl\:reset~=space], [xl\:reset~=p], [xl\:reset~=pr], [xl\:reset~=px]{padding-right:0}
    [xl\:space~=p1], [xl\:space~=pr1], [xl\:space~=px1] {padding-right:0.25rem}
    [xl\:space~=p2], [xl\:space~=pr2], [xl\:space~=px2] {padding-right:0.5rem}
    [xl\:space~=p3], [xl\:space~=pr3], [xl\:space~=px3] {padding-right:1rem}
    [xl\:space~=p4], [xl\:space~=pr4], [xl\:space~=px4] {padding-right:1.75rem}
    [xl\:space~=p5], [xl\:space~=pr5], [xl\:space~=px5] {padding-right:3rem}
    [xl\:space~=p6], [xl\:space~=pr6], [xl\:space~=px6] {padding-right:5rem}

    [xl\:flex]{display: flex}
    [xl\:flex~=h] {flex-direction: row}
    [xl\:flex~=v] {flex-direction: column}
    [xl\:flex~=r] {flex-direction: row-reverse}
    [xl\:flex~=v][xl\:flex~=r] {flex-direction: column-reverse}

    [xl\:flex~=h][xl\:flex~=h-left],
    [xl\:flex~=h][xl\:flex~=r][xl\:flex~=h-right],
    [xl\:flex~=v][xl\:flex~=v-top],
    [xl\:flex~=v][xl\:flex~=r][xl\:flex~=v-bottom]
    {justify-content: flex-start}

    [xl\:flex~=h][xl\:flex~=h-right],
    [xl\:flex~=h][xl\:flex~=r][xl\:flex~=h-left],
    [xl\:flex~=v][xl\:flex~=v-bottom],
    [xl\:flex~=v][xl\:flex~=r][xl\:flex~=v-top]
    {justify-content: flex-end}

    [xl\:flex~=h][xl\:flex~=h-center],
    [xl\:flex~=v][xl\:flex~=v-center]
    {justify-content: center}

    [xl\:flex~=h][xl\:flex~=h-spaced],
    [xl\:flex~=v][xl\:flex~=v-spaced]
    {justify-content: space-between}

    [xl\:flex~=h][xl\:flex~=v-top],
    [xl\:flex~=h][xl\:flex~=r][xl\:flex~=v-bottom],
    [xl\:flex~=v][xl\:flex~=h-left],
    [xl\:flex~=v][xl\:flex~=r][xl\:flex~=h-right]
    {align-items: flex-start}

    [xl\:flex~=h][xl\:flex~=v-bottom],
    [xl\:flex~=h][xl\:flex~=r][xl\:flex~=v-top],
    [xl\:flex~=v][xl\:flex~=h-right],
    [xl\:flex~=v][xl\:flex~=r][xl\:flex~=h-left]
    {align-items: flex-end}

    [xl\:flex~=h][xl\:flex~=v-center],
    [xl\:flex~=v][xl\:flex~=h-center]
    {align-items: center}

    [xl\:flex~=h][xl\:flex~=v-spaced],
    [xl\:flex~=v][xl\:flex~=h-spaced]
    {align-items: stretch}

    [xl\:reset=""], [xl\:reset~=row]{
        --gutter-x: 0;
        --gutter-y: 0;
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;
    }
    [xl\:reset=""], [xl\:reset~=row] > [col]{
        width: 100% !important;
        flex-direction: inherit;
        justify-content: inherit;
    }
    [xl\:reset=""], [xl\:reset~=col]{
        width: 100% !important;
        margin-left: inherit;
        order: inherit
    }
    
    [xl\:reset~=w]{width: 100% !important}
    [xl\:reset~=o]{margin-left: inherit}
    [xl\:reset~=p]{order: inherit}
    [xl\:reset~=g], [reset~=gx], [s\:reset~=gx]{--gutter-x: 0}
    [xl\:reset~=g], [reset~=gy], [s\:reset~=gy]{--gutter-y: 0}
    [xl\:reset~=c] > [col]{width: 100% !important}
    [row][xl\:reset~=r] {flex-direction: row}
    [col][xl\:reset~=r] {flex-direction: column}
}